.Mage {
    color: #00a8f3;
}
.Mage[aria-selected='true'] {
    border-bottom-color: #00a8f3;
}

.Skeleton {
    color: #ff7f27;
}
.Skeleton[aria-selected='true'] {
    border-bottom-color: #ff7f27;
}

.Supresser {
    color: #b83dba;
}
.Supresser[aria-selected='true'] {
    border-bottom-color: #b83dba;
}

.Zombie {
    color: #4ae480;
}
.Zombie[aria-selected='true'] {
    border-bottom-color: #4ae480;
}

.Abomination {
    color: #d8b3bf;
}
.Abomination[aria-selected='true'] {
    border-bottom-color: #d8b3bf;
}