.keleset {
    color: #b83dba;
}
.keleset[aria-selected='true'] {
    border-bottom-color: #b83dba;
}

.valanar {
    color: brown;
}
.valanar[aria-selected='true'] {
    border-bottom-color: brown;
}

.taldaram {
    color: #ff7f27;
}
.taldaram[aria-selected='true'] {
    border-bottom-color: #ff7f27;
}